.container,
.container-equipo,
.container-servicios,
.container-valores,
.contacto-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.container .container-nosotros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  padding: 2.25rem;
}

.contenido-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
